main {
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    gap: 5px;
    padding: 3px;

    .panel-row {
        display: flex;
        gap: 5px;
    }

    .panel {
        color: white;
        border-radius: 5px;
        padding: 5px;
        border: 2px solid var(--txt);
        height: 100%;
    }
}

#leftPanel {
    width: 20%;
}

#mainPanel {
    width: 60%;
}

#networkPanel {
    width: 20%;
}

#filesPanel {
    width: 50%;
}

#keyboardPanel {
    width: 50%;
}