main {
    display: grid;
    width: 100%;
    height: 100%;
}

.grid-main {
    display: grid;
    gap: 5px;
    padding: 3px;

    grid-template-areas:
        "leftPanel  mainPanel  mainPanel     mainPanel     networkPanel"
        "leftPanel  mainPanel  mainPanel     mainPanel     networkPanel"
        "filesPanel filesPanel keyboardPanel keyboardPanel keyboardPanel";
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--txt);
}

.leftPanel {
    grid-area: leftPanel;
}

.filesPanel {
    grid-area: filesPanel;
}

.mainPanel {
    grid-area: mainPanel;
}

.networkPanel {
    grid-area: networkPanel;
}

.keyboardPanel {
    grid-area: keyboardPanel;
}