#startup-logs {
    width: 100%;
    height: 100%;

    color: var(--txt);
    padding: 5px;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    div {
        min-height: 1rem;
    }
}

#startup-hi {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 400px;
    height: 200px;
}

.startup-box {
    position: absolute;
    transform: translate(-50%, -50%);
    border: 2px solid var(--txt);
    --border: 1.6rem;
    border-top-left-radius: var(--border);
    border-bottom-right-radius: var(--border);

    width: 0;
    height: 0;
    animation: startup-hi 1s forwards ease-out;
}

.startup-text {
    opacity: 0;
    animation: show-text 0.3s 0.9s forwards;

    color: var(--txt);
    font-family: var(--font_main);
    text-align: center;
    font-size: 2rem;

    span {
        animation: color-change 0.2s 1.3s forwards;
    }
}

@keyframes startup-hi {
    0% {
        width: 0;
        height: 0;
        transform: translate(0, 0);
    }

    40% {
        width: 400px;
        height: 0;
    }

    100% {
        width: 400px;
        height: 200px;
        transform: translate(1px, -1px);
    }
}

@keyframes show-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes color-change {
    from {
        color: var(--txt);
    }

    to {
        color: var(--accent);
    }
}